#ignore the unzipped force field
./MD_simulations/force_fields/amber99sb-star-ildnp

#ignore all MODELLER and GROMACS outputs 
MD_simulations/projects/*/outputs

#ignore output files
MD_simulations/projects/*/*.out
MD_simulations/projects/*/outputs/*.out

#ignore wet lab analysis data and output
wet_lab_analysis/Tm_assay
wet_lab_analysis/activity_assay
